
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}

.el-input .el-input__count .el-input__count-inner{
	background: transparent !important;
}

.title{
	height:73px;
	display: flex;
	align-items: center;
}
.title .titleView{
	flex:1;
	display: flex;
	align-items: flex-end;
}
.title .titleView h3{
	font-weight:normal;
	color:#454545;
	font-size:22px;
}

.title .titleView > span{
	font-size:15px;
	margin-left:20px;
	color:rgba(0,179,139,1);
	cursor: pointer;
}
.title .titleView span:hover{
	text-decoration: underline;
}

